body {
    background-color:#DB9289;
}

#currentTime {
    float: right;
}

#container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 650px;
    height: 650px;
    border: 5px dashed
}

header {
    margin-top: 40px;
align-content: center;

}

a { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#questionBox {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
     ;
}

#return {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button { 
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h1 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {text-align: center;

}

#start {
    padding: 17px 33px;
    margin-left: 40%;
    margin-top: 38% ;
    font-size: 20px;
    color: white;
}

