body {
    background-color:#DB9289;
}

.hidden {
display: none;

}

#currentTime {
    margin-right: 50px;
    float: right;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    margin-top: 40px;
justify-content: center;
color: black;
font-size: 23px;

}

a { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#questionBox {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
     ;
}

#return {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: black;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color:black;
    top: 30%;
    right: 5%;
    text-align: center;
}

button { 
    border-radius: 8px;
}

textarea {
    width: 20%;
    margin: 20px;
}


label {
    margin-right: 12px;
}
input {
    margin-bottom: 20px;
    margin-left: 525px;
    width: 20%;
    border: 5px solid lightgray;
    
}


p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

h1 {
    font-size: 50px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#start {
    padding: 17px 33px;
    margin-left: 45%;
    margin-top: 38% ;
    font-size: 20px;
    color:black;
    cursor: pointer;
}


li {
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

